* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bodyLoginBiblio {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #FFA500 35%, #ffffff 65%);
    font-family: Arial, sans-serif;
  }
  
  .container {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;     
  }
  
  .button-box {
    background: white;
    padding: 2.5rem; /* 40px */
    border-radius: 0.75rem; /* 12px */
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.1); /* 0 4px 20px */
    width: 30%;
    height: 60%;
  }
  
  .imagemDiv {
    height: 3.125rem; /* 50px */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    height: 2.5rem; /* 40px */
    width: 5rem; /* 80px */
  }
  
  .NavLink {
    width: 23.8rem;
    height: 3.4375rem; /* 55px */
    padding: 0.625rem; /* 10px */
    text-align: center;
    background-color: #FFBF00;
    color: white;
    border: none;
    border-radius: 0.25rem; /* 4px */
    cursor: pointer;
  }
  
  .NavLinkPreto {
    width: 23.8rem;
    height: 3.4375rem; /* 55px */
    padding: 0.625rem; /* 10px */
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.25rem; /* 4px */
    cursor: pointer;
    margin-top: 2rem;
  }

  .btnBiblio {
    background-color: black;
    margin-top: 3.125rem; /* 50px */
    width: 23.8rem;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem; /* 20px */
  }
  
  .titulo {
    text-align: center;
    display: block;
    margin-top: 0.625rem; /* 10px */
    margin-bottom: 0.3125rem; /* 5px */
    color: #4D4D4D;
  }
  